.weather-display {
    flex: 1;
    padding: 0;
    width: 100%;
    display: block; 
    justify-content: center;
    align-items: center;
    position: relative;
}

.weather-display.day {
    color: rgb(5, 5, 84);
}

.weather-display.night {
    color: white;
}

.location-info,
.temperature-info,
.main-info-container,
.info-caption {
    display: flex;
    align-items: center;
}
.weather-display .main-info-container {
    margin-bottom: 90px;
    justify-content: center;
}

.location-icon,
.city-name {
    margin-right: 10px;
    font-size: 40px;
}

.location-container,
.temperature-container {
    text-align: left;
}

.location-container {
    margin-right: 200px;
}

.weather-description {
    font-size: 20px;
    margin: 0;
}

.feels-like {
    font-size: 20px;
    margin: 0;
}

.current-temperature {
    font-size: 40px;
}

.weather-info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    width: 40%; 
    margin: 0 auto;
}

.weather-info-item {
    border-radius: 10px; 
    padding: 10px 10px 10px 20px;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.weather-info-item.day {
    background-color: rgba(93, 93, 93, 0.164); 
}

.weather-info-item.night {
    background-color: rgba(255, 255, 255, 0.2);
}

.weather-info-icon {
    font-size: 30px; 
    margin: 0 10px 5px 0;
}

.info-caption p {
    font-weight: bold;
}

.weather-info-item:hover {
    transform: scale(1.1); 
}
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
}

.background-video.day {
    opacity: 0.5;
}

.background-video.night {
    opacity: 0.98;
}