.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #003044;
    color: white;
    position: sticky;
    top: 0; 
    z-index: 1;
}

.hamburger-menu {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 50px;
}