.app-container {
  display: flex;
  flex-direction: column;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: column;
}

.loader p {
  font-size: 20px;
  margin-top: 10px;
  color: #555;
}

@media (max-width: 768px) {
  .loader p {
    font-size: 14px; 
  }
}